<div class="app-container">
    <aside class="sidebar">
        <h2>Inventory Saas</h2>

        <nav class="sidebar-nav">
            <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
            <a routerLink="/products" routerLinkActive="active">Products</a>
            <a routerLink="/stock" routerLinkActive="active">Stock</a>
            <a routerLink="/analytics" routerLinkActive="active">Analytics</a>
            <a routerLink="/users" routerLinkActive="active">Users</a>
        </nav>
    </aside>

    <div class="main">

        <header class="navbar">
            <button (click)="logout()">Logout</button>
        </header>

        <main class="content">
        <router-outlet></router-outlet>
        </main>
    </div>

</div>
