<h1>Products</h1>
<div class="form">
    <input placeholder="Name" [(ngModel)]="newProduct.name" name="name"/>
    <input placeholder="SKU" [(ngModel)]="newProduct.sku" name="sku"/>
    <input type="number" placeholder="Quantity" [(ngModel)]="newProduct.quantity" name="quantity"/>
    <button (click)="createProduct()">Add Product</button>
</div>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>SKU</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @for (product of products; track product.sku) {
        <tr>
            <td>
                @if (updateProductId === product.id) {
                    <input [(ngModel)]="product.name" name="updateName"/>
                } @else {
                    {{ product.name }}
                }
            </td>
            <td>
                @if (updateProductId === product.id) {
                    <input [(ngModel)]="product.sku" name="updateSku"/>
                } @else {
                    {{ product.sku }}
                }
            </td>
            <td>
                @if (updateProductId === product.id) {
                    <input type="number" [(ngModel)]="product.quantity" name="updateQuantity"/>
                } @else {
                    {{ product.quantity }}
                }
            </td>
            <td>
                @if (updateProductId === product.id) {
                    <button (click)="saveUpdate(product._id, product)">Save</button>
                    <button (click)="cancelUpdate()">Cancel</button>
                } @else {
                    <button (click)="startUpdate(product.id)">Edit</button>
                    <button (click)="deleteProduct(product.id)">Delete</button>
                }
        </tr>
        }
    </tbody>
</table>